@import "tailwindcss";

/* Base styles for consistent theming */
:root {
  color-scheme: dark;
  --background-primary: #121212;
  --background-secondary: #1E1E1E;
  --background-tertiary: #2D2D2D;
  --text-primary: #FFFFFF;
  --text-secondary: #E1E1E1;
  --text-tertiary: #A0A0A0;
  --button-primary: #3700B3;
  --button-secondary: #6200EE;
  --button-tertiary: #BB86FC;
}